<h3>Feedback</h3><br>
<form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" name="form">
    <div class="feedback-form">
        <!-- <p>
            <label>Фамилия, Имя</label>
            <input name="name" type="text" formControlName="name">
        </p>
        <p>
            <input name="feedbackText" type="password" formControlName="feedbackText">
        </p>
        <p>
            <button type="submit">
                Отправить отзыв
            </button>
        </p> -->
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Текст</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-primary">Отправить в поддержку</button>

    </div>
</form>
