<div style="margin-top: 130px;">
    <h3>Письмо в Поддержку</h3><br>
    <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" name="form">
        <div class="feedback-form">
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="textArea" class="form-label">Текст</label>
                <textarea class="form-control" id="textArea" rows="8"></textarea>
            </div>
            <button type="button" class="btn btn-primary">Отправить в поддержку</button>

        </div>
    </form>
</div>