<div style="margin: 20px;">
    <p>
        Имя, Фамилия: {{user.name}}
    </p>
    <p>
        Имя пользователя: {{user.username}}
    </p>
    <p>
        Роль: {{user.roles[0].name}}
    </p>
    <p><button class="btn btn-outline-primary" (click)="putRole('WAREHOUSE_MANAGER')">Изменить роль на WAREHOUSE_MANAGER</button></p>
    <p><button class="btn btn-outline-primary" (click)="putRole('USER')">Изменить роль на USER</button></p>
    <p><button class="btn btn-outline-primary" (click)="putRole('ADMIN')">Изменить роль на ADMIN</button></p>
    <p><button class="btn btn-outline-primary" (click)="putRole('SUPERUSER')">Изменить роль на SUPERUSER</button></p>
</div>