<ng-template #details let-modal>
    <app-position-details [pos]="pos"></app-position-details>
</ng-template>

<div class="item-card">
    <div class="form-check" style="z-index: 1;position: absolute;">
        <input class="form-check-input position-static" [(ngModel)]="isSelected" type="checkbox" id="blankCheckbox" value="isSelected" aria-label="...">
    </div>
    <div>
        
        <div>
            
            <p>
                name: {{pos.name}}
            </p>
            <p>
                price: {{pos.price}} р.
            </p>
        </div>

        <div style="display:inline-block;">
            <button *ngIf="isInCatalog == true" type="button" (click)="addToBasket(pos)" class="btn btn-outline-primary">Добавить в корзину</button>
            <button type="button" (click)="openPopup(details)" class="btn btn-outline-primary">Подробнее</button>
        </div>
    </div>
    
</div>

<!-- (click)="openPopup()" -->