<ng-template #details let-modal>
    <app-position-details [pos]="pos"></app-position-details>
</ng-template>

<div class="item-card">
    <div class="form-check" style="z-index: 1;position: absolute; margin-left: -10px;">
        <input class="form-check-input position-static" [(ngModel)]="isSelected" type="checkbox" id="blankCheckbox" value="isSelected" aria-label="..." disabled>
    </div>
    <div>
        
        <div>
            
            <p style="font-size: larger;">
                {{pos.name}}
            </p>
            <p>
                Цена: {{pos.price}} р.
            </p>
            <!-- <p>
                Категория: {{pos.category}}
            </p> -->
        </div>

        <div style="display:inline-block;">
            <button *ngIf="isInCatalog == true" type="button" (click)="addToBasket(pos)" style=" margin-top: 10px;" class="btn btn-outline-primary">Добавить в корзину</button>
            <button type="button" (click)="openPopup(details)" class="btn btn-outline-primary" style=" margin-top: 10px;">Подробнее</button>
        </div>
    </div>
    
</div>

<!-- (click)="openPopup()" -->