.item-card {
    list-style-type: none;
    /* display: flex; */
    flex-wrap: flex;
    align-content: flex-start;
    height: 300px;
    width: 200px;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    outline: 2px solid #ccc;
}
.item-card-component {
    
    /* width: 40%; */
    /* height: 100%; */
    margin: 2px;
}
p {
    margin: 2px;
}