<!-- <p>product-catalog works!</p> -->
<div class="card-list">
    <ul class="item-card" *ngFor="let pos of positions">
        <li>
            <div class="item-card-component">
                <img [src]="pos.imagePath">
            </div>
            <div class="item-card-component">
                <p>
                    id: {{pos.id}}
                </p>
                <p>
                    name: {{pos.name}}
                </p>
                <p>
                    description: {{pos.description}}
                </p>
            </div>
        </li>
    </ul>
</div>