<!-- <p>product-catalog works!</p> -->
<!-- style="margin-top:200px; overflow-y: scroll;" -->
<div>
    <div class="card-list" style="margin-top: 100px;">
        <!-- <h3>{{header}}</h3> -->
        <ul *ngFor="let some of positions">
            <li class="item-card" *ngIf="positionService.getCurrentFilter() == '' || positionService.getCurrentFilter() == some.category">
                <app-product-item [pos]="some" [isInCatalog]="isInCatalog"></app-product-item>
                <!-- <div class="form-check">
                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                </div> -->
            </li>
        </ul>
    </div>
</div>