<!-- <p>product-catalog works!</p> -->

<div class="window" style="margin-top:200px; overflow-y: scroll;">
    <div class="card-list">
        
        <ul *ngFor="let some of positions">
            <li class="item-card">
                <app-product-item [pos]="some" [isInCatalog]="isInCatalog"></app-product-item>
                <!-- <div class="form-check">
                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                </div> -->
            </li>
        </ul>
    </div>
</div>