<div style="margin-top:130px;">
    <h2>Контакты</h2>
    <div>
        <address style="font-size: larger;">
            <strong>SportWare, Inc.</strong><br>
            Советская пл., д. 2, офис 14<br>
            г. Нижний Новгород, Россия<br>
            <abbr title="Телефон">Тел:</abbr> (123) 456-7890
          </address>
           
          <address>
            <strong>Айдов Виталий</strong><br>
            <a href="mailto:#">sport.ware@gmail.com</a>
          </address>
    </div>
</div>
