<!-- <ng-template #edit let-modal>
    <app-user-card [user]="selectedUser"></app-user-card>
</ng-template> -->

<div *ngFor="let user of users">
    
    <app-user-card [user]="user"></app-user-card>

    <!-- <p>
        Имя, Фамилия: {{user.name}}
    </p> -->

    <p><button *ngIf="userService.currentUser.findPrivilege('EDIT_USER') == true" type="button" class="btn btn-outline-primary" style="margin: 30px;" (click)="discountService.addUserDiscount(user.username, 'discountPersonal')">Добавить персональную скидку</button></p>
    
</div>