<p>basket works!</p>
<!-- {{basketService.basket}} -->
<div *ngFor="let item of basketService.basket" style="display: inline-flex;">
    <!-- <div>
        {{item.pos.name}}: {{item.pos.price}} ({{item.num}})
        something
        <button (click)="item.increaseNum()">+</button> | <button (click)="item.decreaseNum()">-</button> | <button (click)="basketService.deleteItem(item.pos.id)">X</button>
    </div> -->

    <div style="margin-top:100px;">
        
        <app-product-item [pos]="item.pos"></app-product-item>
        ({{item.num}})
        <button (click)="item.increaseNum();basketService.backupBasket()">+</button> | <button (click)="item.decreaseNum();basketService.backupBasket()">-</button> | <button (click)="basketService.deleteItem(item.pos.id)">X</button>
        <!-- <button >+</button> | <button >-</button> -->
    </div>
</div>

<br><br>
<div>Basket sum: {{countSum()}}</div>