<!-- {{basketService.basket}} -->
<div *ngIf="basketService.basket.length != 0 || basketService.basketSum != 0">
    <div *ngFor="let item of basketService.basket" style="display: inline-flex;">
        <!-- <div>
            {{item.pos.name}}: {{item.pos.price}} ({{item.num}})
            something
            <button (click)="item.increaseNum()">+</button> | <button (click)="item.decreaseNum()">-</button> | <button (click)="basketService.deleteItem(item.pos.id)">X</button>
        </div> -->

        <div style="margin-top:100px;">
            
            <app-product-item [pos]="item.pos"></app-product-item>
            ({{item.num}})
            <button class="btn btn-outline-secondary" (click)="item.increaseNum();basketService.backupBasket()">+</button> | <button class="btn btn-outline-secondary" (click)="item.decreaseNum();basketService.backupBasket()">-</button> | <button class="btn btn-outline-secondary" (click)="basketService.deleteItem(item.pos.id)">X</button>
            <!-- <button >+</button> | <button >-</button> -->
        </div>
    </div>

    <br><br>
    <div>Сумма заказа: {{basketService.basketSum}}</div>
    <button class="btn btn-primary" style="margin: 20px;">Оплатить заказ</button>
</div>
<div *ngIf="isLogged() && (basketService.basket.length == 0 || basketService.basketSum == 0)" style="margin-top: 150px;">
    <h3>Ваша корзина пока пуста</h3>
</div>
<div *ngIf="!isLogged()" style="margin-top: 150px;">
    <h3>Войдите в Учётную запись, чтобы управлять корзиной</h3>
</div>