<!-- <ul class="toppanel-anon">
    <li *ngFor="let item of toppanelAnon">
        <span *ngIf="item.name == 'Корзина'">
            {{item.name}} ({{num}})
        </span>
        <span *ngIf="item.name == 'Профиль'" (click)="redirectToProfile()">
            {{item.name}}
        </span>
        <span *ngIf="item.name != 'Корзина' && item.name != 'Профиль'">{{item.name}}</span>
    </li>
</ul> -->


<div class="toppanel">
    <nav>
        <ul>
            <li (click)="redirectToFeedback()">Помощь</li>
            <li>Отслеживание заказов</li>
            <li (click)="redirectToProfile()">Профиль</li>
            <li>Корзина ({{num}})</li>
        </ul>
    </nav>
</div>