nav ul {
    text-align: right;
    list-style: none;
    position: relative;
    
}

nav ul li {
    display: inline-block;
    padding: 10px;
    border-left: 1px solid rgb(165, 165, 165);
    border-right: 1px solid rgb(165, 165, 165);
    /* font-size; */
    background-color: blue;
    background: linear-gradient(to bottom, #7C07A9, white 150%);
    cursor: pointer;
}

div {
    text-align: right;
}