<!-- <ul class="toppanel-anon">
    <li *ngFor="let item of toppanelAnon">
        <span *ngIf="item.name == 'Корзина'">
            {{item.name}} ({{num}})
        </span>
        <span *ngIf="item.name == 'Профиль'" (click)="redirectToProfile()">
            {{item.name}}
        </span>
        <span *ngIf="item.name != 'Корзина' && item.name != 'Профиль'">{{item.name}}</span>
    </li>
</ul> -->

<ng-template #addware let-modal>
    <app-addware-form></app-addware-form>
</ng-template>

<div class="toppanel">
    <nav>
        <ul>
            <li *ngIf="userService.currentUser.findPrivilege('EDIT_USER') == true" (click)=redirectToEdituser()>Редактировать пользователей</li>
            <li *ngIf="userService.currentUser.findPrivilege('EDIT_CATALOG') == true" (click)=openPopup(addware)>Добавить товар</li>
            <li (click)="redirectToFeedback()">Помощь</li>
            <li>Отслеживание заказов</li>
            <li (click)="redirectToSignOrProfile()" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Bottom popover">{{btnProfileValue}}</li>
            <li (click)="redirectToBasket()">Корзина ({{basketService.getPositionsNum()}})</li>
        </ul>
    </nav>
    
</div>
