<!-- <ul class="toppanel-anon">
    <li *ngFor="let item of toppanelAnon">
        <span *ngIf="item.name == 'Корзина'">
            {{item.name}} ({{num}})
        </span>
        <span *ngIf="item.name == 'Профиль'" (click)="redirectToProfile()">
            {{item.name}}
        </span>
        <span *ngIf="item.name != 'Корзина' && item.name != 'Профиль'">{{item.name}}</span>
    </li>
</ul> -->


<div class="toppanel">
    <nav>
        <ul>
            <li (click)="redirectToFeedback()">Помощь</li>
            <li>Отслеживание заказов</li>
            <li (click)="redirectToSignOrProfile()" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Bottom popover">{{btnProfileValue}}</li>
            <li (click)="redirectToBasket()">Корзина ({{basketService.getPositionsNum()}})</li>
        </ul>
    </nav>
    
</div>
