
<div class="container" style="margin:10px;">
<div class="row align-items-center">
    <div class="col">
        <div class="border-right">
        <form class="main-block" [formGroup]="addWareForm" (ngSubmit)="onAddSubmit()" name="form">
            <h3>Добавить товар</h3>
            <div>
                <p>
                    <label>Имя: </label>
                    <input name="name" type="text" formControlName="name">
                </p>
                <p>
                    <label>Цена</label>
                    <input name="price" type="text" formControlName="price">
                </p>
                <p>
                    <label>Описание: </label>
                    <input name="description" type="text" formControlName="description">
                </p>
                <p>
                    <label>Категория: </label>
                    <input name="category" type="text" formControlName="category">
                </p>
                <p>
                    <button class="btn btn-primary" type="submit">
                        Добавить
                    </button>
                </p>
            </div>
        </form>
    </div>
    </div>
    <div class="col">
        <form [formGroup]="deleteWareForm" (ngSubmit)="onDeleteSubmit()" name="form">
            <h3>Удалить по ID</h3>
            <div>
                <p>
                    <label>ID</label>
                    <input name="id" type="text" formControlName="id">
                </p>
                
                <p>
                    <button class="btn btn-danger" type="submit">
                        Удалить
                    </button>
                </p>
            </div>
        </form>
    </div>
</div>
</div>

<!-- [disabled]="!form.form.valid" -->