/* .insta {
    width: 150px;
    height: 150px;
    background: radial-gradient(circle at 30% 107%, #fdf487 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%)
    
} */

nav {
    margin: 100px 0;
    background-color: #E64A19;
}

/* убираем отступы и поля, а также list-style для "ul", 
 * и добавляем "position:relative" */
nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
    }

/* применяем inline-block позиционирование к элементам навигации */
nav ul li {
    margin: 0px -7px 0 0;
    display:inline-block;
    background-color: #E64A19;
    }

/* стилизуем ссылки */
nav a {
    display:block;
    padding:0 10px;
    color:#FFF;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
}

/* изменяем цвет фона при наведении курсора */
nav a:hover {
    background-color: #000000;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

/* отображаем выпадающий список при наведении */
nav ul li:hover > ul {
    display:inherit;
}

/* первый уровень выпадающего списка */
nav ul ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
}