<div class="col-sm-11" style="margin: 20px;">
    <!-- TODO: for each span add *ngIf -->
    <!-- <p><input type="text" placeholder="{{pos.id}}" disabled></p>
    <p>Имя товара: <input type="text" placeholder="{{pos.name}}"></p>
    <p>Цена: <input type="text" placeholder="{{pos.price}}"></p>
    <p>Описание: <input type="text" placeholder="{{pos.description}}"></p>

    <button type="button" class="btn btn-outline-primary" (click)="editPosition()">Save</button>\ -->


    <!-- <form [formGroup]="editWareForm" (ngSubmit)="editPosition()" name="form">
        <h3>Add ware</h3>
        <div>
            <p>
                <label>ID:</label>
                <input name="name" type="text" placeholder="{{pos.id}}" formControlName="id" readonly>
            </p>
            <p>
                <label>Имя товара:</label>
                <input name="name" type="text" placeholder="{{pos.name}}" formControlName="name">
            </p>
            <p>
                <label>Цена: </label>
                <input name="price" type="text" placeholder="{{pos.price}}" formControlName="price">
            </p>
            <p>
                <label>Описание: </label>
                <input name="description" type="text" placeholder="{{pos.description}}" formControlName="description">
            </p>
            <p>
                <label>Категория: </label>
                <input name="category" type="text" placeholder="{{pos.category}}" formControlName="category">
            </p>
            <p>
                <button class="btn btn-outline-primary" type="submit">
                    Сохранить изменения
                </button>
            </p>
        </div>
    </form> -->

    <form [formGroup]="editWareForm" (ngSubmit)="editPosition()" name="form">
        <div class="form-group">
          <label for="id">ID</label>
          <input type="text" class="form-control-plaintext" id="id" formControlName="id" placeholder="{{pos.id}}" readonly>
        </div>
        <div class="form-group">
          <label for="name">Название</label>
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="{{pos.name}}">
        </div>
        <div class="form-group">
            <label for="name">Цена</label>
            <input type="text" class="form-control" id="price" formControlName="price" placeholder="{{pos.price}}">
          </div>
          <div class="form-group">
            <label for="name">Описание</label>
            <input type="text" class="form-control" id="description" formControlName="description" placeholder="{{pos.description}}">
          </div>
          <div class="form-group">
            <label for="name">Категория</label>
            <!-- <mat-form-field appearance="fill">
              <mat-label>Favorite food</mat-label>
              <mat-select [(ngModel)]="selectedValue" name="category" formControlName="category">
                <mat-option *ngFor="let cat of categories" [value]="cat.value">
                  {{cat.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field> -->
            <select class="form-select" formControlName="category" aria-label="Default select example">
              <!-- <option selected>Open this select menu</option> -->
              <option *ngFor="let cat of positionService.categories" value="{{cat.name}}">{{cat.name}}</option>
              <!-- <option selected value="Football">Футбол</option>
              <option value="Volleyball">Воллейбол</option>
              <option value="Hockey">Хоккей</option> -->
            </select>
            
            
            <!-- <button class="btn btn-primary" data-bs-toggle="button">Новая</button> -->
            <!-- <input type="text" class="form-control" id="category" formControlName="category" placeholder="{{pos.category}}"> -->
          </div>
        
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
      </form>
    
</div>