<!-- <p>topboard works!</p> -->
<!-- <ul class="topbar-menu">
    <li *ngFor="let menuitem of menuitems">
        <span *ngIf="menuitem.name != 'Категории'">{{menuitem.name}}</span>
        <span *ngIf="menuitem.name == 'Категории'">
            <select>
                <option>Категории:</option>
                <option *ngFor="let categ of categories">{{categ.name}}</option>
            </select>
        </span>
    </li>

    
</ul> -->

<!-- <div class="topbar-menu">
    <span (click)="redirectToMain()">Главная</span>
    <span>
        <select>
            <option>Категории:</option>
            <option *ngFor="let categ of categories">{{categ.name}}</option>
        </select>
    </span>
    <span>Летний отдых</span>
    <span>Распродажа</span>
    <span (click)="redirectToContacts()">Контакты</span>
</div> -->

<!-- <div class="topbar-menu">
    <nav>
        <ul>
            <li (click)="redirectToMain()">Главная</li>
            <li>Категории

                <ul>
                    <li>Футбол</li>
                    <li>Воллейбол</li>
                    <li>Хоккей</li>
                </ul>
                
            </li>
            <li>Летний отдых</li>
            <li>Распродажа</li>
            <li (click)="redirectToContacts()">Контакты</li>
        </ul>
    </nav>
</div> -->


<nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: 1; position: relative">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Категории
            </a>
            <ul class="dropdown-menu" container="body" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Футбол</a></li>
              <li><a class="dropdown-item" href="#">Воллейбол</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Хоккей</a></li>
            </ul>
          </li>
          <!-- <li>
            <div ngbDropdown container="body" class="d-inline-block">
              <a class="dropdown-item" href="#">Футбол</a>
              <a class="dropdown-item" href="#">Воллейбол</a>
              <a class="dropdown-item" href="#">Хоккей</a>
            </div>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="#">Распродажа</a>
          </li>
          
          <li (click)="redirectToContacts()" class="nav-item">
            <a class="nav-link" href="/contacts" aria-disabled="false">Контакты</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>