<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<div class="main-window">
    <h1>{{title}}</h1>
    <app-toppanel-anon></app-toppanel-anon>
    <app-topboard></app-topboard>
    <!-- <app-tmptest></app-tmptest> -->
    <!-- <app-login-form></app-login-form> -->
    <!-- <app-addware-form></app-addware-form> -->
    <!-- <app-adduser-form></app-adduser-form> -->
    <!-- <app-product-catalog></app-product-catalog> -->
    <!-- <app-position-list></app-position-list> -->
    
    <router-outlet></router-outlet>
</div>