
<div class="outer" style="margin: 50px;">

    <div class="inner">
        /icon_profile/ <p>Персональная информация</p>
        <p>Фамилия, Имя: {{userService.currentUser.name}}</p>
        <p>E-mail: {{userService.currentUser.email}}</p>
        <p>Телефон: {{userService.currentUser.phoneNumber}}</p>
        <p><button class="btn btn-outline-primary" disabled>Изменить данные</button></p>
    </div>

    <!-- <div class="inner">
        /icon_house/ <p>Профили доставки</p>
        <p><button class="btn btn-outline-primary" disabled>Добавить адрес</button></p>
    </div>

    <div class="inner">
        /icon_list/ <p>История заказов</p>
        <p><button class="btn btn-outline-primary" disabled>Показать полностью</button></p>
    </div> -->

</div>