<p>profile works!</p>
<div class="outer">

    <div class="inner">
        /icon_profile/ Персональная информация
        <p>Фамилия, Имя: {{currentUser.staticName}}</p>
        <p>E-mail: {{currentUser.staticEmail}}</p>
        <p>Телефон: {{currentUser.staticPhoneNumber}}</p>
        <p><button>Изменить данные</button></p>
    </div>

    <div class="inner">
        /icon_house/ Профили доставки
        <p><button>Добавить адрес</button></p>
    </div>

    <div class="inner">
        /icon_list/ История заказов
        <p><button>Показать полностью</button></p>
    </div>

</div>